.store {
	border: 2px solid black;
	position: absolute;
	left: 4vw;
	top: 2vh;
	width: 28vw;
	height: 96vh;
}

.fridge {
	position: absolute;
	left: 36vw;
	top: 2vh;
	width: 28vw;
	height: 96vh;
}

.details {
	border: 2px solid black;
	position: absolute;
	left: 68vw;
	top: 2vh;
	width: 28vw;
	height: 96vh;
}

.carrotsInFridge {
	position: absolute;
	left: 51vw;
	top: 74vh;
	z-index: 999;
	rotate: 25deg;
	filter: saturate(50%);
}

.cheeseInFridge {
	position: absolute;
	left: 35vw;
	top: 54vh;
	z-index: 999;
	rotate: -15deg;
	transform: scaleX(-1);
}

.milkInFridge {
	position: absolute;
	left: 53vw;
	top: 42vh;
	z-index: 999;
	rotate: 90deg;
}
